[2014-07-29 11:58] dylang opened #1 "Sometimes doesn't show any deps/devDeps"
Loving this extension, thanks for bringing it up on [NodeUp](http://nodeup.com/).

I found some places where it doesn't work. I haven't had time to look into why:

Does not work:
https://github.com/facebook/flux
https://github.com/facebook/flux/tree/master/examples/flux-chat

Interesting, this one works:
https://github.com/facebook/react/tree/master/examples/todomvc-flux

[2015-08-11 12:00] boulosdib commented on #1
I love this extension as well and the issue remains. I submitted a pull request recently.

It seems if package.json does not include dependencies, the extension exits before processing  devDependencies,  However  if an empty dependencies object is included, it shows devDependencies as in https://github.com/segmentio/analytics.js.

[2015-09-08 16:21] mralexgray opened #3 "Safari install is broken."
Crossrider is being a biotch.  Please help!

![screen shot 2015-09-08 at 12 19 45 pm](https://cloud.githubusercontent.com/assets/262517/9740685/02909026-5624-11e5-8109-ad1a8c135f85.png)

[2015-12-24 13:36] knownasilya opened #4 "UI is broken with new experimental nav layout"
The elements need to be appended to `.experiment-repo-nav` if the page has it.

Otherwise this is what it looks like:
![screen shot 2015-12-24 at 8 36 50 am](https://cloud.githubusercontent.com/assets/34726/11995143/859dc67a-aa19-11e5-99bd-9b6a0c175fb6.png)

[2016-02-06 07:19] Derimagia commented on #4
Any chance of getting this fixed in the Extension? Really neat idea, but right now it's unusable. I'd prefer not to make a competing extension since you already did a great job minus this issue...

[2016-02-13 20:20] Derimagia commented on #4
@knownasilya looks like this isn't being actively supported.

OctoLinker is another awesome extension that's kind of similar. I recommend it: https://github.com/octo-linker/chrome-extension.

[2016-02-13 20:57] knownasilya commented on #4
Yeah, already using it.

[2016-02-13 20:57] knownasilya commented on #4
Maybe the owner could add us as collaborators?

[2016-02-21 23:27] derimagia commented on #4
Looks like the owner made some change to the chrome plugin and it seems better now

[2016-02-29 06:00] zeke commented on #4
Hey @derimagia and @knownasilya. Sorry I missed this thread, I've been traveling a lot lately. I did indeed publish a fix to the Chrome store about about a week ago. Is it working well for you?

[2016-02-29 06:07] zeke commented on #1
Hey @dylang sorry I missed this. Only 19 months late! I wasn't subscribed to activity on this repo. :see_no_evil:

I've updated the extension and this should be fixed.

[2016-02-29 06:07] #1 closed

[2016-02-29 06:09] zeke commented on #3
Ack. Sorry to hear that. Safari is definitely a hostile environment for extensions.

[2016-02-29 06:09] #3 closed

[2016-02-29 13:15] knownasilya commented on #4
Looks to be fixed. Thanks @zeke.

[2016-02-29 18:09] #4 closed

[2016-05-05 14:38] egoist opened #6 "Browser warning"
Synchronous XMLHttpRequest on the main thread is deprecated because of its detrimental effects to the end user's experience. For more help, check https://xhr.spec.whatwg.org/.

<img width="1153" alt="2016-05-05 10 41 35" src="https://cloud.githubusercontent.com/assets/8784712/15046402/1014e78c-1312-11e6-90f7-d73d4edb5b74.png">

[2016-05-09 05:21] zeke commented on #6
Thanks for reporting, @egoist. I've seen that for a while and didn't investigate what extension was causing it. I emailed [Crossrider](http://crossrider.com/developer) support about a workaround.

[2016-05-26 06:39] bfred-it opened #8 "Limit extension to github.com"
This is currently being applied to all websites, generating [console errors](#6) and appending `crossrider_data_store_temp` attributes on `body` everywhere. It should be limited to the github.com domain only.

[2016-05-28 06:51] bfred-it commented on #8
It might be a good idea to drop Crossrider because it also seems to be running some questionable code... on all sites.

[2016-09-06 16:02] #6 closed

[2016-09-06 16:02] #8 closed

[2016-12-18 23:27] selfrefactor opened #16 "Versions don't show"
First, congrats on the nice idea. The extension is a must-have.

My issue is that I can see the versions of the dependencies only if I use the extension as unpacked extension.
If I use the version from Chrome Web Store, then I cannot see the versions.

I tested it on two browsers: Chromium 53 and Chrome 55 under Ubuntu 16
For both browsers, the result is the same.

On a side-note, Chrome cries a w

[2016-12-18 23:31] zeke commented on #16
Huh. Can you show a screenshot illustrating the issue? Can you inspect the HTML of the failing case and paste it here?

[2016-12-19 01:10] bfred-it commented on #16
`applications` is for Firefox; Chrome doesn't like it but it's not a problem.

[2016-12-19 10:27] selfrefactor commented on #16
Here is the single dependency code when version is missing

`<li><a href="https://npmjs.org/package/jasmine-json-test-reporter">jasmine-json-test-reporter</a>&nbsp;&nbsp;Write Jasmine test results to disk in JSON format <a href="http://ghub.io/jasmine-json-test-reporter">(repo)</a></li>`

and here is where it shows

`
<li><a href="https://npmjs.org/package/jasmine-json-test-reporter">jasmine-json-

[2016-12-19 10:41] bfred-it commented on #16
Ah, true, the version info was [added after 2.0.1](https://github.com/zeke/npm-hub/commits/master), which is the version currently on the store.

@zeke did you get around setting up the automated deploy? https://github.com/DrewML/chrome-webstore-upload-cli/issues/7

[2016-12-19 17:04] zeke commented on #16
No, I didn't. I was more than happy to let @paulirish take over the publishing. :)

@bfred-it you should have access to everything now. You wanna give it a shot?

[2016-12-19 21:07] bfred-it commented on #16
Ah true, forgot about that. I'll try this week

[2016-12-28 09:35] bfred-it commented on #16
761a88ffe5430c672577238bf99dd7019e7c503e

[2016-12-28 09:35] #16 closed

[2016-12-28 15:36] zeke commented on #16
👏

[2017-01-04 03:43] bfred-it opened #18 "Use the current branch instead of defaulting to master"
https://github.com/zeke/npm-hub/pull/17#issuecomment-270287417

Perhaps:

[code]

[2017-01-09 06:39] zeke commented on #18
💡

[2017-01-10 05:45] bfred-it opened #19 "Autodeployment automation"
Currently the deployment steps are:

0. Update the version in `extension/manifest.json`
0. Create a commit for it
0. Create a tag with the same version

If you're ok with it, I can skip the first two steps by dynamically update the version during deployment (without committing it)

You can see it in action on my GitHub Clean Feed:
- [.travis.yml](https://github.com/bfred-it/github-clean-feed/blob/

[2017-01-31 03:31] bfred-it opened #20 "Mozilla Addons"
@zeke Do you mind if I publish it to AMO?

https://developer.mozilla.org/en-US/Add-ons/Distribution

[2017-01-31 03:37] bfred-it commented on #20
What's License?

[2017-01-31 04:19] zeke commented on #20
MIT ftw

[2017-01-31 04:20] zeke commented on #20
:shipit:

[2017-02-02 01:40] zeke commented on #19
Can you distill this into an npm-script one-liner somehow?

[2017-02-02 01:45] bfred-it commented on #19
Yes, sorry, the demo links are currently down. The oneliner read the git tag via `git` and set it into manifest.json via a lib (maybe `dot-json`?)

[2017-02-02 01:49] bfred-it commented on #20
I submitted it, it might take a month. I'll let you know 🙂

[2017-02-02 03:36] zeke commented on #20
🦊

[2017-02-02 19:50] appsforartists opened #24 "Introspect path to package.json"
The current package.json is resolved by this string:

[code]

That fails for:

- modules that are developed on branches other than `master`, e.g. `stable` or `develop` (#18)
- [Lerna](https://lernajs.io)-shaped monorepos, which store Node modules in `packages/${ moduleName }/`.

You're already querying for `.files [title="package.json"]`.  You can reuse that query to get the path to `package.json`

[2017-02-02 22:40] silverwind commented on #20
Would it be possible deploy to AMO similar to how it's done for the Chrome store right now?

[2017-02-02 23:38] #18 closed

[2017-02-02 23:38] #24 closed

[2017-02-02 23:40] bfred-it commented on #20
Eventually, probably. I had it planned for my other extension too https://github.com/GhostText/GhostText/issues/93

[2017-02-03 01:11] bfred-it commented on #19
Links fixed. Have a look.

[2017-02-03 07:15] MWrathDev opened #28 "Merge with octolinker?"
https://github.com/octolinker/browser-extension/

[2017-02-03 08:42] bfred-it commented on #28
Why merge? They don't have overlapping features

[2017-02-03 09:33] silverwind commented on #20
Thanks! Part of the reason I was asking is that I was looking for a tool for it :)

[2017-02-03 12:40] bfred-it commented on #20
I haven't tried it yet but it looks promising. It lacks a CLI, though

[2017-02-03 18:03] bentruyman opened #29 "Allow for GitHub Enterprise support"
It would be nice if there was an ability to add custom URLs for GitHub Enterprise instances.

[2017-02-03 18:08] zeke commented on #28
True, but they serve similar purposes: Making the GitHub browsing experience better for javascript developers.

@MWrathDev what about opening a PR that adds a "See Also" section to the README which mentions OctoKit?

This could be added too: https://github.com/stefanbuck/awesome-browser-extensions-for-github

[2017-02-03 18:10] zeke commented on #29
That might be as simple as adding another pattern here...

https://github.com/npmhub/npmhub/blob/f242532bfee1c16439e8b189614063c20ceb4e80/extension/manifest.json#L29

[2017-02-03 22:34] bfred-it commented on #28
I still don't see the need to merge them. It's easier to handle multiple smaller packages than a big one. The only thing I'd suggest is to link each other in the readme

[2017-02-03 22:35] bfred-it commented on #29
I did this a while ago for a different extension: option page + domain field that adds a new permission to Chrome. I'll look for it's code next week

[2017-02-10 13:15] MatthieuLemoine opened #32 "GitLab support"
Did you plan to support GitLab ?

It could be nice to support both GitHub and GitLab as [octotree](https://github.com/buunguyen/octotree) does.

[2017-02-10 15:59] zeke commented on #32
Totally open to the idea! Would you be interested in giving it a try, @MatthieuLemoine?

[2017-02-10 18:58] MatthieuLemoine commented on #32
@zeke Sure ! I will look at it tomorrow.

[2017-02-11 10:44] #19 closed

[2017-02-12 08:36] #32 closed

[2017-02-12 08:47] bfred-it commented on #28
Ultimately, octolinker supports a variety of languages while npmhub only supports JS/npm.

Merging them would require **a lot** of effort just to reach their package manager support.

[2017-02-12 08:47] #28 closed

[2017-02-14 03:41] bfred-it commented on #20
[Update on the missing cli](https://github.com/erikdesjardins/firefox-extension-deploy/issues/10): use mozilla's `web-ext sign`. It looks like it works, although not as smoothly as `chrome-webstore-upload` since [it throws an error even on success](https://i.imgur.com/W4QR63l.png) 😳

Also getting an API key is absurdly easy: https://addons.mozilla.org/en-US/developers/addon/api/key/ (although unfo

[2017-02-15 19:42] zeke commented on #20
Nice!

Should we create a private maintainers repo for storing these creds?

[2017-02-15 19:42] zeke commented on #20
Or does this stuff all just live on Travis?

[2017-02-15 23:33] bfred-it commented on #20
They're already private on Travis, I think that's enough. I'll look into giving you access to npmhub on AMO like you did for Chrome Web Store

[2017-02-16 03:16] bfred-it commented on #20
You can create your account here and I'll add your email: https://addons.mozilla.org/en-US/developers/addon/

[2017-02-21 14:03] bfred-it commented on #20
Review ended, they asked [this change.](https://github.com/npmhub/npmhub/commit/125c7edfed36c62a4439a00ec054560e378c6b1c) It's been resubmitted 🚀

[2017-02-21 17:48] zeke commented on #20
✅ zeke@sikelianos.com

[2017-02-21 22:50] zeke opened #34 "package names are missing"
cc @bfred-it

<img width="1017" alt="screen shot 2017-02-21 at 2 49 34 pm" src="https://cloud.githubusercontent.com/assets/2289/23188834/0b11f5d6-f845-11e6-893b-8f96b5288aec.png">

[2017-02-22 01:35] bfred-it commented on #34
Darnit. My bad. Will fix soon

[2017-02-22 01:49] #34 closed

[2017-02-22 04:42] zeke commented on #34
Working for me. Thanks for fixing!

<img width="696" alt="screen shot 2017-02-21 at 8 42 01 pm" src="https://cloud.githubusercontent.com/assets/2289/23197598/3dc4d422-f876-11e6-88fe-497001ff3c01.png">

[2017-02-22 05:22] bfred-it commented on #34
Good! Sorry about that! That's what happens with "this is a small change what could possibly go wrong let's not test it" 😅

[2017-02-25 04:55] zeke commented on #20
Just tried to install it but hit a few snags.

<img width="492" alt="screen shot 2017-02-24 at 8 52 19 pm" src="https://cloud.githubusercontent.com/assets/2289/23328329/61029208-fad3-11e6-9abc-6a5bc63c087e.png">

<img width="453" alt="screen shot 2017-02-24 at 8 52 31 pm" src="https://cloud.githubusercontent.com/assets/2289/23328337/8b7ba56a-fad3-11e6-9820-a920a4e7a571.png">

<img width="753" alt=

[2017-02-25 05:30] bfred-it commented on #20
Right. We're waiting for the review

[2017-02-25 05:30] zeke commented on #20
👍

[2017-02-25 06:27] silverwind commented on #20
@zeke: Firefox release builds can't install unsigned extension anymore. You can use the [dev edition](https://www.mozilla.org/en-US/firefox/developer/) to do that.

[2017-03-03 02:00] erikvold opened #37 "Remove use of jquery"
This extension would be much smaller, faster, and easier to maintain without jquery imo.

[2017-03-03 02:02] erikvold opened #38 "Add Tests"
Using https://github.com/tmpvar/jsdom it's pretty easy to write some tests for web extensions.

[2017-03-03 02:04] erikvold opened #39 "Add CONTRIBUTING.md file"
It would be nice if there was some `CONTRIBUTING.md` to explain guidelines and provide help for contributing.

[2017-03-03 04:39] bfred-it commented on #37
I'd argue that without jQuery it would actually make it harder to maintain.

I thought about removing the dependency but that chaining currently makes the code quite lean. Plus jQuery is preloaded and by itself it's not a huge hog.

PRs to remove it are welcome from me (HBU @zeke?), as long as the code doesn't grow too much.

[2017-03-03 04:41] bfred-it commented on #38
Do you have examples of other extensions usin tests? I don't think jsdom provides `chrome.*` APIs and it'd be a pain to rewrite those.

[2017-03-03 05:04] erikvold commented on #38
Using https://github.com/acvetkov/sinon-chrome helps with that

[2017-03-03 05:20] zeke commented on #37
I don't feel strongly about it. Open to a pull request.

[2017-03-07 04:13] erikvold opened #43 "Use browserify"
It'd be easier to test the extension (since we'll have modules that can be unit tested) and easier use modules from npm if the project used [browserify](http://browserify.org/).  This would also make #37 easier to do.

[2017-03-07 04:23] erikvold commented on #43
nvm I just looked at how small this extension is and perhaps this would be overkill.

[2017-03-07 04:58] erikvold commented on #43
I take it back, it only looks small but a lot is being done, using jquery to find a link for the `package.json`, fetching a html page for the `package.json` file, using jquery to parse the entire response page, then using jquery to output the view.

[2017-03-07 05:58] bfred-it commented on #43
However you describe it, it's still 76 lines long with a single dependency.

The only reason I'd split this into multiple modules (at this filesize) would be if it **considerably** helped testing it, otherwise we'd just be making one thing more complex to slightly simplify another.

[2017-03-07 18:41] #39 closed

[2017-03-08 03:43] #37 closed

[2017-03-09 11:56] bfred-it opened #48 "Add support for scoped packages"
Example: https://github.com/shinnn/fettuccine

- [x] Wrong endpoint is being fetched: https://registry.npmjs.org/@shinnn/eslint-config-node
- [ ] Also ghub.io doesn't support them: https://github.com/juliangruber/ghub.io/issues/24

[2017-03-10 13:20] bfred-it commented on #48
The right registry URL was:

https://registry.npmjs.org/@shinnn%2Feslint-config-node

Now only ghub is missing. We could skip that altogether and integrate [`github-url-to-object`](https://github.com/zeke/github-url-to-object)

[2017-03-30 05:17] zeke opened #49 "HTML in descriptions is not escaped/sanitized"
Example: https://github.com/hypermodules/sitedown

Notice how `<mark> tag plugin for markdown-it markdown parser` ends up injecting a `<mark>` element into the page!

![screen shot 2017-03-29 at 10 16 19 pm](https://cloud.githubusercontent.com/assets/2289/24488687/767b57a0-14cd-11e7-908b-a0e07679ba62.png)

[2017-04-19 04:48] bfred-it commented on #49
Fixed in c7a40bf201c4d52de548062b4626b168b8176d82

[2017-04-19 04:48] #49 closed

[2017-05-03 15:10] zeke commented on #49
Thanks!

[2017-05-03 15:29] bfred-it commented on #49
Welcome back! :D

[2017-05-18 23:28] bfred-it commented on #20
<a href="https://addons.mozilla.org/en-US/firefox/addon/npm-hub/"><img src="https://i.imgur.com/7drHiqr.gif?noredirect" alt="it's happening"></a>

[2017-05-18 23:28] #20 closed

[2017-05-19 13:24] bfred-it opened #54 "Handle ajaxed pages"
With https://github.com/OctoLinker/injection

It might be a good reason to do #43

[2017-05-20 00:10] bfred-it commented on #29
@bentruyman do you mind trying the [`ghe-support` branch](https://github.com/npmhub/npmhub/tree/ghe-support)?

[2017-06-19 10:42] #29 closed

[2017-06-19 12:23] #54 closed

[2017-06-19 12:23] #48 closed

[2017-06-19 12:23] #43 closed

[2017-06-19 12:25] bfred-it commented on #48
Fixed! Now the `git.io` URLs are overridden as soon as we load each `package.json`

[2017-06-19 14:49] roccomuso opened #56 "Display also module version"
Couldn't be a useful improvement?

Better if configurable from the settings.

[2017-06-19 15:24] bfred-it commented on #56
It used to be there but it was removed: https://github.com/npmhub/npmhub/pull/15

I'm thinking it can be added back, hidden, and you can show it again via userstyle

[2017-06-20 20:04] zeke commented on #56
hidden is okay with me.

@roccomuso why do you think you want to know the versions?

[2017-06-20 21:13] roccomuso commented on #56
Well a few days ago it would have been useful to me, so why not.

[2017-06-20 22:12] zeke commented on #56
I'm just trying to understand you use case.

why?

because it takes up space, adds to cognitive load, and probably is not useful information most of the time. In most cases you just want to know what the dependency is for, and possibly click through to learn more about it.

[2017-06-21 00:34] roccomuso commented on #56
I was just comparing module dependencies across different repos.

I agree with you. That's why I said "better if configurable from settings".

[2017-06-21 05:59] bfred-it opened #57 "GitLab changed their code"
The `package.json` is no longer in the page npmhub requests. I'm working on it.

❌ https://gitlab.com/Rich-Harris/buble/blob/master/package.json

✅ https://gitlab.com/Rich-Harris/buble/blob/master/package.json?format=json&viewer=simple

[2017-06-21 06:56] #57 closed

[2017-06-21 07:13] bfred-it commented on #56
Feel free to send a PR reinstating the version, keeping it hidden. Perhaps also mention how to enable it in the readme below the screenshot .

[2017-06-28 23:17] hkdobrev opened #61 "Repositories with no readme are producing an error"
E.g. https://github.com/pablopunk/whoami-api

When adding the box below the readme, the JavaScript is expecting the readme to be in the DOM. It should work around missing readme.

[code]

[2017-07-09 08:46] bfred-it opened #62 "Add optional and peer dependencies"

[2017-07-09 08:47] bfred-it commented on #61
Also: https://github.com/npmhub/npmhub/blob/master/README.md

[2017-07-09 09:12] #61 closed

[2017-07-09 10:45] #62 closed

[2017-07-14 02:09] bfred-it opened #64 "Fix bundledDependencies support"
`bundledDependencies` is actually just an array, not an object:

https://docs.npmjs.com/files/package.json#bundleddependencies

Example in the wild:

https://github.com/juliangruber/ghub.io

[2017-07-19 08:03] bfred-it opened #65 "Fast navigation will break npmhub"
Opening a repo, switching to issues, then navigating back will show npmhub in a "loading" state because its loading has been halted.

Related to #63

[2017-08-09 20:11] zeke opened #66 "npmhub stopped working"
I just noticed this today. Something is up with the JSON response. Doesn't look like npmhub has changed recently. Any ideas, @bfred-it?

![screen shot 2017-08-09 at 1 09 00 pm](https://user-images.githubusercontent.com/2289/29141686-14f12308-7d04-11e7-8f2d-150aaaf4aa80.png)

<img width="678" alt="screen shot 2017-08-09 at 1 09 21 pm" src="https://user-images.githubusercontent.com/2289/29141695-17b

[2017-08-11 04:13] Justineo commented on #66
@zeke That's probably because GitHub updated their DOM structure lately. For more comprehensive and maintainable solution we might have to request data from GitHub API which returns file content in valid and predictable JSON responses.

[2017-08-11 04:32] bfred-it commented on #66
Yeah we should just do that at some point, I'll open an issue to add a field for a personal token to support private repos. That's how most extensions handle them.

[2017-08-11 04:34] fregante opened #68 "Use GitHub API with personal token"
- [ ] Add personal GitHub token field in options
- [ ] Make GitHub requests to GitHub's API (which is at `https://api.github.com` or `/api` on GHE, I think)

[2017-08-13 06:51] bfred-it commented on #66
Fixed by #67

[2017-08-13 06:51] #66 closed

[2017-08-28 07:43] #64 closed

[2017-09-30 07:02] bfred-it opened #74 "Also show it on package.json permalinks"
Example: https://github.com/leebyron/async-to-gen/blob/master/package.json

This wouldn't even require the [initial fetch](https://github.com/npmhub/npmhub/blob/226da7f6fdf3f8eb5cfdf054542ba32af17ed730/src/content.js#L73-L87). Just parse the page and run.

[2017-10-02 02:41] zeke commented on #74
👍

[2017-10-03 09:58] #74 closed

[2017-10-12 07:05] bfred-it opened #78 "GitHub's own dependency graph (thoughts)"
<img width="766" alt="" src="https://user-images.githubusercontent.com/1402241/31483037-6dd58dec-aef0-11e7-9427-a6f1cdca71a7.png">

Link: https://github.com/npmhub/npmhub/network/dependencies

Should npmhub just fetch that view? Maybe not, npmhub's implementation might still be preferable because:

- works on non-root package.json
- UI highlights dev and peer deps
- shows descriptions
- works with

[2017-10-19 01:33] olstenlarck commented on #78
I don't know what the benefit of the GitHub's one is.. probably works for other languages and package mangers? If so, then it would make sense to just fetch that, yea.

Otherwise I don't see any reason to use that github page, since i can just click the package.json :D

[2017-10-25 10:47] bfred-it opened #79 "Mark 404s and network failures"
404s might be private or not published.

[2017-10-26 08:17] bfred-it commented on #78
Given that Ruby is the only other supported language I'm less interested about that. But yeah, currently the only advantage is that it lets you see sub-dependencies. The huge problem at the moment is that it mixes dev and non-dev dependencies, so it's kind of useless. Closing this altogether for now.

[2017-10-26 08:17] #78 closed

[2017-10-26 08:20] bfred-it commented on #78
It does have some interesting ideas though, like showing the username, avatar and [version](https://github.com/npmhub/npmhub/issues/56)

<img width="736" alt="screen shot 2017-10-26 at 16 18 13" src="https://user-images.githubusercontent.com/1402241/32042256-8933752e-b9fc-11e7-9eb4-a7acecb4b8f1.png">

[2017-10-26 08:34] bfred-it opened #81 "Add caching to speed up loading of common dependencies"
The data to store would be something like:

package | repo | description
-- | -- | --
element-ready | https://github.com/sindresorhus/element-ready | Detect when an element is ready in the DOM
escape-goat | https://github.com/sindresorhus/escape-goat |Escape a string for use in HTML or the inverse

[2017-11-16 12:14] #79 closed

[2018-05-01 16:38] krohrsb opened #86 "Support custom NPM registry"
I'd like the option of specifying an alternate NPM registry to do the lookups from if possible. I'm in an enterprise environment. Authorizing my enterprise github works well, however we also have an enterprise NPM registry :) So would like to support that as well.

[2018-05-01 18:53] zeke commented on #86
@krohrsb sounds good to me. Would you be willing to take a shot at implementing this?

[2018-06-30 22:32] aleclarson opened #88 "inspect dependency versions"
Some packages depend on non-NPM packages.

- Github: `npmhub/npmhub#commitish`
- Gitlab: `gitlab:foo/bar#commitish`
- local: `file:./path/to/package` [(see here)](https://docs.npmjs.com/files/package.json#local-paths)
- alias: `npm:foo@^1.0.0` [(see here)](https://github.com/npm/npm/issues/20428)
- urls [(see here)](https://docs.npmjs.com/files/package.json#git-urls-as-dependencies)

You may want

[2018-06-30 23:33] aleclarson commented on #88
Nope, sorry! I should have been more clear. :)

Currently, the anchor elements have incorrect URLs for these scenarios, because your extension doesn't inspect the version of each dependency to determine if it's an NPM dependency or not.

[2018-07-01 00:38] bfred-it commented on #88
Can you link to some problematic repos?

[2018-12-14 06:14] brettz9 opened #89 "Githack links"
Would it be in scope enough for you to consider linking individual pages (at least `.html`/`.htm` ones) to https://raw.githack.com/ ?

[2018-12-14 08:51] bfred-it commented on #89
Which pages? Where would you put this link?

[2018-12-14 08:58] brettz9 commented on #89
Like if I've navigated to https://github.com/SVG-Edit/svgedit/blob/master/editor/svg-editor.html , there could be a link next to "Raw", "Blame", "History"

[2018-12-14 08:58] bfred-it commented on #89
Completely unrelated to **npm**hub, sorry

[2018-12-14 08:58] #89 closed

[2018-12-14 08:59] bfred-it commented on #89
But: https://github.com/sindresorhus/refined-github/issues/1595

[2018-12-14 09:00] brettz9 commented on #89
Thanks for pointing me to the repo--that does look like a better place to try, thanks!

[2019-03-16 09:42] jukben opened #92 "CORB are blocking request to NPM registry"
~~CORS~~ CORB are blocking request to NPM registry. Not sure what we can do about it. Any idea?

[2019-03-16 10:22] bfred-it commented on #92
It's CORB: https://www.chromestatus.com/feature/5629709824032768

Sigh. They changed the behavior in Chrome 73: https://www.chromium.org/Home/chromium-security/extension-content-script-fetches

That page contains a migration code, if anyone wants to submit a PR:

However it needs to user `await` instead of `.then`

[2019-03-16 10:25] bfred-it commented on #92
Also npm won't add CORS, if anyone was hoping that: https://github.com/npm/npm-registry-couchapp/issues/108

[2019-03-16 10:37] jukben commented on #92
Hey, thanks for clarification. However, before I wrote this issue I had an assumption that it might be something like that so I've just quickly hacked the request in background page one of my extensions I'm working on. The same resoult with the same issue

[code]

So I'm not sure if it's really this case otherwise I'd be willing to do the PR.

[2019-03-16 10:40] bfred-it commented on #92
It seems to work in npmhub's background page (Chrome 73), it could be that your extension doesn't have permission to npmjs.org

<img width="831" alt="Screenshot 2019-03-16 at 18 39 35" src="https://user-images.githubusercontent.com/1402241/54474048-ecc20a80-481a-11e9-8f3e-5d16adf55f47.png">

[2019-03-16 10:41] #56 closed

[2019-03-16 10:42] jukben commented on #92
Ah! You are right 🤦‍♂️ that's the issue, sorry for confusion. I can work on that then 👍 Shell I go for it?

[2019-03-16 10:50] bfred-it commented on #92
No worries, I just copied and pasted the notice from the console 😄

[2019-03-17 03:01] #92 closed

[2019-03-17 05:22] bfred-it commented on #81
Fixed by #94 🎉

[2019-03-17 05:22] #81 closed

[2019-05-09 20:27] toklok opened #95 "no deps, broken image"
![image](https://user-images.githubusercontent.com/7063845/57484561-5688ee80-7277-11e9-8f19-c5908a6edb61.png)

broken image if no deps.

[2019-05-10 02:02] bfred-it commented on #95
What browser/OS are you on?

[2019-05-17 13:15] toklok commented on #95
Chrome 76 on Linux.

[2019-05-17 13:34] bfred-it commented on #95
Anything more specific than Linux?

Do other emojis work on GitHub? Can you send me the markup of this emoji?  🇮🇹

[2019-05-17 19:42] toklok commented on #95
https://assets-cdn.github.com/images/icons/emoji/unicode/1f389.png

![image](https://user-images.githubusercontent.com/7063845/57952206-71341680-78ba-11e9-82ac-9f6ff54e49c3.png)

[2019-05-18 18:23] bfred-it commented on #86
Ideal solution here, if anyone builds it: https://github.com/sindresorhus/module-requests/issues/114

[2019-05-18 18:25] #65 closed

[2019-05-18 18:28] #95 closed

[2019-05-18 18:28] bfred-it commented on #95
Thanks! I didn't remember we include the URL as well. I updated it

[2019-06-06 10:32] fregante opened #96 "Fails on blame views"
https://github.com/sindresorhus/refined-github/blame/761615dfb514d8fbe8883a1b872849af97f0de20/package.json

It doesn't have to work on this page, so it should probably just be filtered out

[2020-01-22 05:27] fregante opened #97 "Add link to UNPKG"
Inspecting the content of the actual `npm` package would be pretty useful. Often it doesn't match what's on the repo. Example:

- https://github.com/fregante/webext-storage-cache (TypeScript source)
- https://www.unpkg.com/browse/webext-storage-cache@latest/ (ESM module)

[2020-02-19 09:47] fregante commented on #68
This is not necessary, it just complicates things and will require the user to enter a token.

[2020-02-19 09:47] #68 closed

[2020-02-19 09:47] #96 closed

[2020-02-19 09:47] #97 closed

[2020-02-19 10:28] fregante commented on #97
Added and tweeted about it https://twitter.com/fregante/status/1230076269804412928

<img width="582" alt="" src="https://user-images.githubusercontent.com/1402241/74825875-9a9c3a00-5345-11ea-95d0-1835be2ee388.png">

[2020-02-20 17:18] zeke commented on #97
Nice!

[2020-03-26 00:12] fregante opened #98 "Chrome Store rejected new versions (privacy info)"
Related Refined GitHub issue, probably parts of it can be copied: https://github.com/sindresorhus/refined-github/issues/2685

@zeke can you look into it?

[2020-03-26 03:40] zeke commented on #98
👀

[2020-03-27 13:36] xt0rted opened #102 "Duplicate lists on the main repo page after navigating away and back"
While testing #100 I noticed that if you load https://github.com/npmhub/npmhub, then navigate to https://github.com/npmhub/npmhub/blob/master/package.json, then use the back button to return to the main page the list of dependencies shows twice. Do it again and it'll show three times etc. I'm not seeing this behavior on the `package.json` page, only on the main repo page with the readme.

This is

[2020-03-27 14:05] fregante commented on #102
Are you sure it doesn’t just happen in your PR? We have a check for that

https://github.com/npmhub/npmhub/blob/1612065210afcec8df80064567b736f507335dfc/source/content.js#L184

[2020-03-27 14:09] xt0rted commented on #102
That's the issue, I adjusted the header and now `npmhub-header` is only emitted on GitLab which is why this started happening.

[2020-03-27 14:09] #102 closed

[2020-03-27 19:25] zeke commented on #98
Hoping to get to this today. 🤞

[2020-03-27 20:17] fregante commented on #98
I looked into it and it already has some info entered. I’m not sure what the issue is. Alternatively you can try manually uploading a new version and follow the instructions

[2020-03-30 15:31] fregante commented on #98
The extension was not currently in a "reviewing" state, so I manually uploaded version 2020.3.28 and now we'll have to wait for it

<img width="828" alt="pending review" src="https://user-images.githubusercontent.com/1402241/77931171-1cb84080-72ac-11ea-8f1e-bd320b519c60.png">

[2020-03-30 16:03] zeke commented on #98
Okay thanks. Anything needed on my part right now?

[2020-03-30 16:15] fregante commented on #98
No, we'll just have to wait a week or more

[2020-03-31 17:54] fregante commented on #98
Kidding! v2020.3.28 is already on the store! https://chrome.google.com/webstore/detail/npmhub/kbbbjimdjbjclaebffknlabpogocablj

[2020-03-31 17:54] #98 closed

[2020-03-31 21:13] zeke commented on #98
Nice! 🙌

[2020-06-24 13:35] roccomuso opened #104 "Github new UI - Upgrade needed"
Github had major UI changes. The extension doesn't work anymore.
It needs an upgrade.

[2020-07-26 22:25] fregante commented on #104
Fixed by https://github.com/npmhub/npmhub/commit/5991906b9d03a87b1b057bbe7fea2c13f57459c1 in version 2020.7.26

Chrome’s version is waiting for manual review, so it might take days

[2020-07-26 22:25] #104 closed

[2020-08-03 15:10] fregante opened #106 "Restore GitLab support"
It doesn't seem to work anymore, probably because the file list is loaded later: https://gitlab.com/Rich-Harris/buble

[2020-08-03 15:14] fregante opened #107 "It doesn't work if GitHub defers loading of the file list"
If GitHub decides to load the file list asynchronously, npmhub won't see the file and won't appear.

This happens on:

- any repo, sometimes, e.g. https://github.com/fregante/object-fit-images
- when seeing non-default branches, e.g. https://github.com/npmhub/npmhub/tree/svelte

Similar problem: #106

Solution: use select + MutationObserver to detect a deferred load and wait for it
https://github.

[2020-08-03 16:35] notlmn commented on #107
Doesn't `element-ready` help in this regard?

[2020-08-03 18:00] fregante commented on #107
I'd rather not use `element-ready` for deferred elements because it's not safe (if the DOM changes, `element-ready` will continue querying the DOM 60 times per second, forever)

[2020-08-05 18:44] fregante opened #108 "The Chrome Store deployment is failing"
Probably the key has expired or is invalid

[2020-08-11 05:55] zeke commented on #108
Do you need my help on this @fregante?

[2020-08-11 10:39] fregante commented on #108
No, I just haven't had the time to follow the token instructions. My client ID is [hardcoded](https://github.com/npmhub/npmhub/blob/147154deca1e5d40c272848ba4422a100e474b7d/.github/workflows/deployment.yml#L55) so I'll have to do it

[2020-08-11 19:01] zeke commented on #108
Ok sounds good. Thanks for maintaining this project all these years!

[2020-08-24 03:30] Divij-hub opened #109 "REACT - not working npm while installing it"
Did all the command on command line from installing the npm globally npm install -g create-react-app  along with following codes:

npx create-react-app <myprojectname> and also cleared the npm cache but it always get stuck on the line in the image showing the following error. Along with the error:

┌──────────────────────────────────────────────────────────────────┐
│                     npm updat

[2020-08-24 03:30] #109 closed

[2020-08-24 18:33] maxloh commented on #107
@fregante How about the [Intersection Observer API
](https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API)?

[2020-08-24 20:29] fregante commented on #107
You can't observe something that isn't on the page. You need MutationObserver for that, as suggested

[2020-09-08 02:45] fregante commented on #108
Fixed!

Last run: https://github.com/npmhub/npmhub/actions/runs/243876983

[2020-09-08 02:45] #108 closed

[2020-10-15 21:30] fregante opened #112 "Safari support"
It'd be great to publish this for Safari now that it supports same API.

Related threads:
- https://github.com/sindresorhus/refined-github/issues/14
- https://github.com/notlmn/browser-extension-template/issues/31

@zeke do you have an Apple developer account?

[2020-10-16 19:29] zeke commented on #112
Alas, I just left my apple developer program membership die, because I haven't been building any Electron apps lately. 😬

I'd be happy to chip in to help pay for one though...

[2020-11-10 18:19] fregante opened #114 "Suggested changes for buttons"
Suggestions:

- use icons instead of lengthy text
- add bundlephobia and packagephobia links
- show http://npm.broofa.com/ even for packages without dependencies since it now shows devDependencies

[2020-11-20 00:53] fregante opened #115 "Update logo, screenshots, add promotional material"
npmhub currently uses npmhub’s own logo, unchanged. I think it makes sense to at least slightly modify it, perhaps using GitHub’s gray on one side.

I just needed to recreate the icons in higher quality, so I thought about _not_ using npmhub’s unchanged logo.

<img width="128" alt="Screen Shot 2020-11-19 at 18 52 30" src="https://user-images.githubusercontent.com/1402241/99742106-68686600-2a98-11e

[2020-11-20 01:08] fregante commented on #115
Alternative

<img width="128" alt="Screen Shot 2020-11-19 at 18 52 30" src="https://user-images.githubusercontent.com/1402241/99743125-9ea6e500-2a9a-11eb-83ee-255aff53dfed.png">

[2020-11-20 04:23] #107 closed

[2020-11-26 07:01] fregante commented on #112
I got one now thanks to Sindre 😁

The extension has already been accepted by the App Store 🍰 and will be public soon but I plan to polish a few things before advertising it. Ideally we'd also update the really-out-of-date website too.

[2020-11-26 07:01] #112 closed

[2020-11-26 07:03] fregante commented on #115
Safari-only icon:
<img src="https://user-images.githubusercontent.com/1402241/99744201-db73db80-2a9c-11eb-9ae8-9e87873c174f.png" width="128">

I'll update the rest of the media soon with the "alternative" version above.

[2020-11-26 07:19] #38 closed

[2020-11-29 05:42] #114 closed

[2020-11-29 05:42] #115 closed

[2020-11-29 05:51] fregante opened #121 "Safari version improvements"
Refer to https://github.com/sindresorhus/refined-github/issues/3766. Help wanted either there or here

[2020-12-18 05:29] #86 closed

[2020-12-19 14:14] darkred opened #122 "Latest release in CWS (published today) is 2020.11.20 instead of 2020.12.19"
I've noticed that the npmhub version published in [CWS](https://chrome.google.com/webstore/detail/npmhub/kbbbjimdjbjclaebffknlabpogocablj) today is 2020.11.20 .
Today release in GitHub is [2020.12.19](https://github.com/npmhub/npmhub/releases/tag/2020.12.19) .
If it helps, seeing the [2020.11.20...2020.12.19 changelog](https://github.com/npmhub/npmhub/compare/2020.11.20...2020.12.19), all the comm

[2020-12-19 17:07] fregante commented on #122
Thanks, I updated the chrome store listing (screenshots etc) and published that, *then* I tried to release a new version from the repo but that one was still happening. I’ll upload it manually, probably

[2020-12-19 19:19] fregante commented on #122
Done. Waiting review

[2020-12-19 19:19] #122 closed

[2020-12-19 19:37] darkred commented on #122
It's published now. Thank you.

[2021-01-31 16:42] #121 closed

[2021-03-04 19:03] fregante opened #125 "The dependency list is hard to reach"
Reaching npmhub means _Scrolling all the way down, but not quite all the way._

I think it makes sense to somehow block the scroll once the user reaches the bottom, and _only then_ allow scrolling further.

This is generally achieved by only hiding the whole table once the bottom is reached. However maybe it should already generate it _before_ then, so that it will be ready.

[2021-03-04 19:04] fregante commented on #125
Or maybe we should just add a button to scroll to npmhub somewhere near the top, maybe in the sidebar. This is probably faster for the user, easier to manage, except that it's an extra UI element.

[2021-03-16 21:42] fregante commented on #125
<img width="249" alt="Screen Shot 11" src="https://user-images.githubusercontent.com/1402241/111383690-2d54f880-866e-11eb-96c5-5b1caa01f8f2.png">

This might be a good position, at least on the repo home

[2021-04-19 15:02] dhysuiej opened #126 "Error "Bundles must have unique filePaths" when adding css to Box.svelte"
Adding the style bellow at the end of the file `Box.svelte` throws an error:

[code]

[code]

[2021-04-21 20:52] dhysuiej opened #127 "Easy way to migrate npmhub to TypeScript"
Since Parcel supports TS out of the box I thought changing the file extensions with JS code from `.js` to `.ts` and the JS tags in the `.svelte` files from `<script>` to `<script lang="ts">` would do the trick, but I get the error `Segmentation fault: 11` without showing any more details when running `npm run build`.

Has anyone tried to migrate the npmhub to TS or enable TS on some other Parcel+S

[2021-04-21 21:44] dhysuiej commented on #127
I'm closing this because after removing `package-lock.json`  and installing all packages the build command completed successfully.

[2021-04-21 21:44] #127 closed

[2021-04-22 02:02] fregante commented on #127
I don’t know why you’re opening this kind of issue here because I’m not interested in using TypeScript in this project

[2021-04-22 02:03] fregante commented on #126
This is not a npmhub issue. Please open it in the svelte parcel repo

[2021-04-22 02:03] #126 closed

[2021-04-25 16:41] fregante opened #128 "Many descriptions are missing"
<img width="388" alt="Screen Shot" src="https://user-images.githubusercontent.com/1402241/116001631-904b8f00-a61f-11eb-993c-15de2fdb3012.png">

URL: https://github.com/mavoweb/mavo

Tested on Safari

[2021-05-18 10:09] fregante commented on #128
Might have been a loading issue. It works now

[2021-05-18 10:09] #128 closed

[2021-06-12 12:55] lirantal opened #129 "Found out about this project today..."
Just found out about this project today out of a conversation on Twitter with @voxpelli and just wanted to say that this is a really cool project idea! 🚀 ✨

[2021-07-20 06:58] #129 closed

[2021-07-20 06:58] fregante commented on #129
Glad you like it @lirantal!

[2021-07-20 07:00] fregante opened #131 "Add link to paka.dev?"
Found this project today: https://paka.dev/npm/webext-options-sync@4.2.0/api

I think it's just types-related because it doesn't work for every repo, like https://paka.dev/npm/webextension-polyfill@0.8.0/api

[2021-07-26 09:23] fregante opened #132 "Link to "Dependency tree" even on unpublished packages"
Sometimes I visit regular repos like this one and I cannot explore its dependencies because the link is only visible for packages on npm:

https://github.com/npmhub/npmhub/blob/3362e36567875d6f97ae8321d0b8954f9dffcf9d/source/components/App.svelte#L90-L102

This depends on:

- https://github.com/npmgraph/npmgraph/issues/94

[2021-08-31 13:08] shinenelson opened #139 "Visual style enhancement suggestion"
After the [design refresh](https://github.blog/changelog/2020-06-23-design-updates-to-repositories-and-github-ui/) to the repository homepage, npmhub looks kind of out of style in its current form. I feel it needs a visual refresh to match with GitHub's new style. My suggestion is to match GitHub's [Dependency Graph](https://docs.github.com/en/github/visualizing-repository-data-with-graphs/about-t

[2021-08-31 13:38] fregante commented on #139
👍

👎 they're spacious enough, we don't need 100px-tall rows

👍

🤷‍♂️ https://github.com/npmhub/npmhub/issues/56

I was thinking about it today, it would have to be off by default and at most it would be an option (and we don't have an options page yet)

It might be a little long especially for already-namespaces packages like `@sindresorhus/is` but ok

I'm interested in matching it. Their UI is mu

[2021-08-31 13:38] #139 closed

[2021-08-31 13:59] shinenelson commented on #139
I have come to believe in https://github.com/sindresorhus/refined-github/issues/2960#issuecomment-606765382

---

I will try them out when I have the time. This issue was more of a "_gathering feedback about what the maintainer thinks of these ideas_". But then I found #78 from #56 and I :facepalm:.

[2021-08-31 14:04] fregante commented on #139
No worries. The version might be useful here, it's just that nobody cared enough about that for years. 😃

As for the default, I do try to keep the extension simple, but it could have options.

[2021-10-13 00:37] ritikbheda opened #145 "show the version number of the dependency"
We already have dependency name but adding its version number would be a good feature added I think. What do you guys think?

Something like what Dependency graph shows:
![DependencyGraph](https://user-images.githubusercontent.com/60680215/137047348-8c21151e-f48f-4eb6-ab34-9eec12e2b4d4.JPG)

Link to Dependency graph: [here](https://github.com/npmhub/npmhub/network/dependencies)

[2021-10-13 05:25] fregante commented on #145
Duplicate of https://github.com/npmhub/npmhub/issues/56

[2021-11-09 17:58] fregante opened #147 "Sticky header has several visual issues"
- Due to https://github.com/npmhub/npmhub/pull/144

https://user-images.githubusercontent.com/1402241/140978643-e3cb73d6-5e72-427b-a5fb-38163ed44b7f.mov

[2021-11-09 17:59] fregante commented on #147
Test URL: https://github.com/mozilla/webextension-polyfill

[2021-11-09 23:23] #147 closed

[2021-11-28 22:27] charkour opened #149 "The dropdown is covered by `peerDependencies` table"
Thank you for this awesome extension (and your other extensions).

I've been using npmhub for a while and noticed the dropdown is hidden when the project has peer dependencies. This can be seen in [this repo](https://github.com/charkour/zundo) that has peer dependencies.

![image](https://user-images.githubusercontent.com/33156025/143788602-2ff1e33d-aff4-4e45-871f-43587ec1ac79.png)

Thanks for tak

[2021-11-28 22:28] charkour commented on #149
I would be willing to make a PR.

[2021-11-29 00:51] fregante commented on #149
This was fixed in #148 but I forgot to release it 😅

[2021-11-29 00:51] #149 closed

[2021-11-29 03:03] charkour commented on #149
Thanks for the quick response!

[2022-03-18 18:09] fharper commented on #68
It is necessary if you use more than one Chrome Extension that do not let you use a personal token. Most extension don't require you to add a token, but if you want to bypass the api rate limit, you can, so it's really not more complicated for the user, and solve issues for power users :)

[2022-04-03 22:00] darkred opened #153 "Submission in CWS failed due to `HTTPError: Response code 400 (Bad Request)`"
I noticed that the latest release, 2022.3.17, is still not available in [CWS](https://chrome.google.com/webstore/detail/npmhub/kbbbjimdjbjclaebffknlabpogocablj) 18 days now, so I checked the relevant Release action and found that has failed for Chrome: https://github.com/npmhub/npmhub/runs/5580740222?check_suite_focus=true

Here is the error message:

[code]

[2022-04-04 04:25] fregante commented on #153
Thank you. It's failing because the publisher email is not verified.

@zeke can you verify the email? The URL should be https://chrome.google.com/webstore/devconsole/a5606c17-ae3b-42a0-8f18-6030f33bbbc1/settings

If not, open https://chrome.google.com/webstore/devconsole/ and find this view

<img width="893" alt="Screen Shot 2" src="https://user-images.githubusercontent.com/1402241/161473668-75b6e

[2022-04-04 23:05] fregante commented on #153
You'll have you follow the link here I suggested here, not the email

[2022-04-05 05:29] zeke commented on #153
Oh sorry, I misread. Email confirmed 👍🏼

<img width="373" alt="Screen Shot 2022-04-04 at 10 28 46 PM" src="https://user-images.githubusercontent.com/2289/161684999-9ff147f3-ea4d-4cf6-8757-d773d04d986e.png">

[2022-04-05 16:59] fregante commented on #153
Pending review now

<img width="1055" alt="Screen Shot 1" src="https://user-images.githubusercontent.com/1402241/161809466-fbb4dbd6-bbfc-4a73-bffd-77432e641f73.png">

[2022-04-11 18:01] zeke commented on #153
<img width="608" alt="Screen Shot 2022-04-11 at 11 01 07 AM" src="https://user-images.githubusercontent.com/2289/162801252-f967d99b-8e59-4d84-a395-667f778fb474.png">

[2022-04-11 23:22] fregante commented on #153
#154

[2022-04-13 05:47] fregante commented on #153
<img width="222" alt="Screen Shot" src="https://user-images.githubusercontent.com/1402241/163108757-f1ea3570-b8fb-44c2-bea9-45ea443586e4.png">

[2022-04-13 05:47] #153 closed

[2022-06-15 05:05] fregante opened #155 "It occasionally fails to load the descriptions"
I don't know what's up here, if it's just Svelte acting up but there are no errors in any context, I just see this:

<img width="848" alt="Screen Shot 2" src="https://user-images.githubusercontent.com/1402241/173740510-10868296-aac3-4aa3-a65b-8aeba4eb4da9.png">

It's probably helpful to update all the dependencies

[2022-11-12 06:08] #106 closed

[2022-11-14 07:23] fregante opened #162 "Chrome release token out of date"
[code]